input {
    outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


.navbarSearch {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: 'Montserrat';
    font-size: 14px;

    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center;
    border: solid 1px #ccc;
    padding: 5px 14px 4px 35px;
    width: 50px;
    margin-top: .5rem;
    margin-right: 1rem;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .4s ease-in-out;
}

.navbarSearch:focus {
    width: 15rem;
    background-color: #fff;
    border-color: #673AB7;

    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}