@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:500&display=swap');

* {
    font-family: 'Quicksand',
    sans-serif;
    box-sizing: border-box;
}

.wallpaper {
    background: linear-gradient(rgba(0, 0, 0, 0.875), rgba(0, 0, 0, 0.98)),
        url('./img/background2.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.wallpaper2 {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.98)),
        url('./img/avengers-backdrop2.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.main-backdrop {
    background: linear-gradient(rgba(24, 24, 24, 0.9), rgba(4, 4, 4));
    background-size: cover;
    background-attachment: fixed;
}